In [1]:
# importing Dependencies 
import pandas as pd
import numpy as np

In [2]:
# uncleaned CSV files
csv1 = "/Users/rociocuao/Desktop/2019-citibike-tripdata/11_November/201911-citibike-tripdata_2.csv"
csv2 ="/Users/rociocuao/Desktop/2020-citibike-tripdata/11_November/202011-citibike-tripdata_2.csv"
citi_bike_trip_2019 = pd.read_csv(csv1)
citi_bike_trip_2020 = pd.read_csv(csv2)

In [3]:
# 2019 Data
citi_2019_df = citi_bike_trip_2019
citi_2019_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,95,2019-11-19 19:13:18.4770,2019-11-19 19:14:54.1580,350,Clinton St & Grand St,40.715595,-73.987030,307,Canal St & Rutgers St,40.714275,-73.989900,38120,Subscriber,1992,1
1,468,2019-11-19 19:13:19.4350,2019-11-19 19:21:07.8600,458,11 Ave & W 27 St,40.751396,-74.005226,3255,8 Ave & W 31 St,40.750585,-73.994685,15219,Subscriber,1997,2

In [4]:
# 2020 Data
citi_2020_df = citi_bike_trip_2020
citi_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2556,2020-11-16 14:12:27.9910,2020-11-16 14:55:04.1360,340,Madison St & Clinton St,40.712690,-73.987763,3355,E 66 St & Madison Ave,40.768009,-73.968453,48446,Subscriber,1989,1
1,184,2020-11-16 14:12:32.0490,2020-11-16 14:15:36.7560,298,3 Ave & Schermerhorn St,40.686832,-73.979677,310,State St & Smith St,40.689269,-73.989129,48658,Subscriber,1984,1

In [5]:
# Deleting Columns
del citi_2019_df['usertype']
del citi_2020_df['usertype']

In [6]:
citi_2019_df.head(6)
citi_2020_df.head(6)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,2556,2020-11-16 14:12:27.9910,2020-11-16 14:55:04.1360,340,Madison St & Clinton St,40.712690,-73.987763,3355,E 66 St & Madison Ave,40.768009,-73.968453,48446,1989,1
1,184,2020-11-16 14:12:32.0490,2020-11-16 14:15:36.7560,298,3 Ave & Schermerhorn St,40.686832,-73.979677,310,State St & Smith St,40.689269,-73.989129,48658,1984,1
2,581,2020-11-16 14:12:33.6800,2020-11-16 14:22:14.8260,385,E 55 St & 2 Ave,40.757973,-73.966033,477,W 41 St & 8 Ave,40.756405,-73.990026,36922,1976,1
3,1122,2020-11-16 14:12:34.7850,2020-11-16 14:31:16.8650,3773,Knickerbocker Ave & Thames St,40.705390,-73.929760,532,S 5 Pl & S 5 St,40.710451,-73.960876,44692,1969,0
4,936,2020-11-16 14:12:35.1390,2020-11-16 14:28:12.0090,3338,2 Ave & E 99 St,40.786259,-73.945526,3375,3 Ave & E 72 St,40.769943,-73.960607,47730,1958,1
5,2138,2020-11-16 14:12:35.1420,2020-11-16 14:48:13.4150,128,MacDougal St & Prince St,40.727103,-74.002971,3861,Menahan St & Wyckoff Ave,40.701130,-73.914220,49278,1991,1

In [7]:
# Checking Type of Values
citi_2019_df.dtypes
citi_2020_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
birth year                   int64
gender                       int64
dtype: object

In [8]:
# Changing The Type of Values for the Gender Column
citi_2019_df['gender'] = citi_2019_df['gender'].astype(str)
citi_2020_df['gender'] = citi_2020_df['gender'].astype(str)

In [9]:
# Changing the Numeric Gender Values to Actual Gender Values For The 2018 CSV
gender_check_2019 = citi_2019_df['gender']
changed_2019_male = gender_check_2019.replace('1', 'Male')
changed_2019_female = changed_2019_male.replace('2', 'Female')
changed_2019_unknown = changed_2019_female.replace('0', 'Unknown')
citi_2019_df['gender'] = changed_2019_unknown
citi_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,95,2019-11-19 19:13:18.4770,2019-11-19 19:14:54.1580,350,Clinton St & Grand St,40.715595,-73.987030,307,Canal St & Rutgers St,40.714275,-73.989900,38120,1992,Male
1,468,2019-11-19 19:13:19.4350,2019-11-19 19:21:07.8600,458,11 Ave & W 27 St,40.751396,-74.005226,3255,8 Ave & W 31 St,40.750585,-73.994685,15219,1997,Female
2,692,2019-11-19 19:13:22.3230,2019-11-19 19:24:54.4800,164,E 47 St & 2 Ave,40.753231,-73.970325,526,E 33 St & 5 Ave,40.747659,-73.984907,41109,1984,Female
3,403,2019-11-19 19:13:24.1570,2019-11-19 19:20:07.3500,2000,Front St & Washington St,40.702551,-73.989402,406,Hicks St & Montague St,40.695128,-73.995951,26811,1964,Male
4,454,2019-11-19 19:13:24.1640,2019-11-19 19:20:59.0980,150,E 2 St & Avenue C,40.720874,-73.980858,438,St Marks Pl & 1 Ave,40.727791,-73.985649,38691,1954,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478703,534,2019-11-30 23:59:07.8070,2019-12-01 00:08:01.9840,251,Mott St & Prince St,40.723180,-73.994800,302,Avenue D & E 3 St,40.720828,-73.977932,33020,1996,Female
478704,269,2019-11-30 23:59:14.4120,2019-12-01 00:03:43.6630,3534,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,3509,Lenox Ave & W 115 St,40.801194,-73.950074,35136,1974,Male
478705,668,2019-11-30 23:59:26.4970,2019-12-01 00:10:35.2200,408,Market St & Cherry St,40.710762,-73.994004,341,Stanton St & Mangin St,40.717821,-73.976289,15990,1998,Male
478706,450,2019-11-30 23:59:28.5170,2019-12-01 00:06:58.7670,523,W 38 St & 8 Ave,40.754666,-73.991382,519,Pershing Square North,40.751873,-73.977706,41169,1996,Male
478707,811,2019-11-30 23:59:50.4100,2019-12-01 00:13:22.3840,489,10 Ave & W 28 St,40.750664,-74.001768,358,Christopher St & Greenwich St,40.732916,-74.007114,30502,1969,Unknown

In [10]:
# Changing the Numeric Gender Values 2020 
gender_check_2020 = citi_2020_df['gender']
changed_2020_male = gender_check_2020.replace('1', 'Male')
changed_2020_female = changed_2020_male.replace('2', 'Female')
changed_2020_unknown = changed_2020_female.replace('0', 'Unknown')
citi_2020_df['gender'] = changed_2020_unknown
citi_2020_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,2556,2020-11-16 14:12:27.9910,2020-11-16 14:55:04.1360,340,Madison St & Clinton St,40.712690,-73.987763,3355,E 66 St & Madison Ave,40.768009,-73.968453,48446,1989,Male
1,184,2020-11-16 14:12:32.0490,2020-11-16 14:15:36.7560,298,3 Ave & Schermerhorn St,40.686832,-73.979677,310,State St & Smith St,40.689269,-73.989129,48658,1984,Male
2,581,2020-11-16 14:12:33.6800,2020-11-16 14:22:14.8260,385,E 55 St & 2 Ave,40.757973,-73.966033,477,W 41 St & 8 Ave,40.756405,-73.990026,36922,1976,Male
3,1122,2020-11-16 14:12:34.7850,2020-11-16 14:31:16.8650,3773,Knickerbocker Ave & Thames St,40.705390,-73.929760,532,S 5 Pl & S 5 St,40.710451,-73.960876,44692,1969,Unknown
4,936,2020-11-16 14:12:35.1390,2020-11-16 14:28:12.0090,3338,2 Ave & E 99 St,40.786259,-73.945526,3375,3 Ave & E 72 St,40.769943,-73.960607,47730,1958,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736699,257,2020-11-30 23:58:44.6840,2020-12-01 00:03:01.9470,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,421,Clermont Ave & Park Ave,40.695734,-73.971297,49932,1992,Male
736700,617,2020-11-30 23:58:45.6210,2020-12-01 00:09:02.8300,439,E 4 St & 2 Ave,40.726281,-73.989780,3709,W 15 St & 6 Ave,40.738046,-73.996430,38817,1969,Unknown
736701,116,2020-11-30 23:58:45.7200,2020-12-01 00:00:41.9570,3616,Steinway St & 28 Ave,40.765625,-73.913669,3600,31 Ave & Steinway St,40.761149,-73.917007,32874,1980,Male
736702,409,2020-11-30 23:59:20.1480,2020-12-01 00:06:09.7540,3521,Lenox Ave & W 111 St,40.798786,-73.952300,3325,E 95 St & 3 Ave,40.784903,-73.950503,36675,2001,Male
736703,301,2020-11-30 23:59:47.9750,2020-12-01 00:04:49.2260,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,27784,1948,Male

In [11]:
#  Age's of Bikers 
current_year = 2019

birth_year_2019 = citi_2019_df['birth year']
age = current_year - birth_year_2019
citi_2019_df['age'] = age

birth_year_2020 = citi_2020_df['birth year']
age = current_year - birth_year_2020
citi_2020_df['age'] = age

In [12]:
# Rearranging the Columns
citi_2019_df_organized = citi_2019_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "starttime", 
                                       "stoptime",
                                       "tripduration",
                                       "start station id",
                                       "end station id",
                                       "start station name",
                                       "end station name",
                                       "start station latitude",
                                       "end station latitude",
                                       "start station longitude",
                                       "end station longitude"]]

citi_2020_df_organized = citi_2020_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "starttime", 
                                       "stoptime",
                                       "tripduration",
                                       "start station id",
                                       "end station id",
                                       "start station name",
                                       "end station name",
                                       "start station latitude",
                                       "end station latitude",
                                       "start station longitude",
                                       "end station longitude"]]

citi_2019_df_organized.head(10)
citi_2020_df_organized.head(10)

,bikeid,gender,birth year,age,starttime,stoptime,tripduration,start station id,end station id,start station name,end station name,start station latitude,end station latitude,start station longitude,end station longitude
0,48446,Male,1989,30,2020-11-16 14:12:27.9910,2020-11-16 14:55:04.1360,2556,340,3355,Madison St & Clinton St,E 66 St & Madison Ave,40.712690,40.768009,-73.987763,-73.968453
1,48658,Male,1984,35,2020-11-16 14:12:32.0490,2020-11-16 14:15:36.7560,184,298,310,3 Ave & Schermerhorn St,State St & Smith St,40.686832,40.689269,-73.979677,-73.989129
2,36922,Male,1976,43,2020-11-16 14:12:33.6800,2020-11-16 14:22:14.8260,581,385,477,E 55 St & 2 Ave,W 41 St & 8 Ave,40.757973,40.756405,-73.966033,-73.990026
3,44692,Unknown,1969,50,2020-11-16 14:12:34.7850,2020-11-16 14:31:16.8650,1122,3773,532,Knickerbocker Ave & Thames St,S 5 Pl & S 5 St,40.705390,40.710451,-73.929760,-73.960876
4,47730,Male,1958,61,2020-11-16 14:12:35.1390,2020-11-16 14:28:12.0090,936,3338,3375,2 Ave & E 99 St,3 Ave & E 72 St,40.786259,40.769943,-73.945526,-73.960607
5,49278,Male,1991,28,2020-11-16 14:12:35.1420,2020-11-16 14:48:13.4150,2138,128,3861,MacDougal St & Prince St,Menahan St & Wyckoff Ave,40.727103,40.701130,-74.002971,-73.914220
6,48186,Male,1992,27,2020-11-16 14:12:38.2010,2020-11-16 14:25:03.2290,745,3301,281,Columbus Ave & W 95 St,Grand Army Plaza & Central Park S,40.791956,40.764397,-73.968087,-73.973715
7,42769,Female,1986,33,2020-11-16 14:12:38.9760,2020-11-16 14:39:28.0700,1609,3414,389,Bergen St & Flatbush Ave,Broadway & Berry St,40.680945,40.710446,-73.975673,-73.965251
8,47576,Male,2000,19,2020-11-16 14:12:39.0580,2020-11-16 14:14:08.7460,89,3338,3338,2 Ave & E 99 St,2 Ave & E 99 St,40.786259,40.786259,-73.945526,-73.945526
9,48674,Female,1981,38,2020-11-16 14:12:39.2920,2020-11-16 14:25:45.0270,785,3898,477,E 63 St & 3 Ave,W 41 St & 8 Ave,40.763954,40.756405,-73.964600,-73.990026

In [13]:
# Renaming the Columns
citi_2019_renamed_df = citi_2019_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "starttime":"Start Time",
                                                              "stoptime":"Stop Time",
                                                              "start station id":"Start Station ID",
                                                              "end station id":"End Station ID",
                                                              "start station name":"Start Station Name",
                                                              "end station name":"End Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "end station latitude":"End Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "end station longitude":"End Station Longitude"})

citi_2020_renamed_df = citi_2020_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "starttime":"Start Time",
                                                              "stoptime":"Stop Time",
                                                              "start station id":"Start Station ID",
                                                              "end station id":"End Station ID",
                                                              "start station name":"Start Station Name",
                                                              "end station name":"End Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "end station latitude":"End Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "end station longitude":"End Station Longitude"})



citi_2019_renamed_df
citi_2020_renamed_df

,Bike ID,Gender,Birth Year,Age,Start Time,Stop Time,Trip Duration,Start Station ID,End Station ID,Start Station Name,End Station Name,Start Station Latitude,End Station Latitude,Start Station Longitude,End Station Longitude
0,48446,Male,1989,30,2020-11-16 14:12:27.9910,2020-11-16 14:55:04.1360,2556,340,3355,Madison St & Clinton St,E 66 St & Madison Ave,40.712690,40.768009,-73.987763,-73.968453
1,48658,Male,1984,35,2020-11-16 14:12:32.0490,2020-11-16 14:15:36.7560,184,298,310,3 Ave & Schermerhorn St,State St & Smith St,40.686832,40.689269,-73.979677,-73.989129
2,36922,Male,1976,43,2020-11-16 14:12:33.6800,2020-11-16 14:22:14.8260,581,385,477,E 55 St & 2 Ave,W 41 St & 8 Ave,40.757973,40.756405,-73.966033,-73.990026
3,44692,Unknown,1969,50,2020-11-16 14:12:34.7850,2020-11-16 14:31:16.8650,1122,3773,532,Knickerbocker Ave & Thames St,S 5 Pl & S 5 St,40.705390,40.710451,-73.929760,-73.960876
4,47730,Male,1958,61,2020-11-16 14:12:35.1390,2020-11-16 14:28:12.0090,936,3338,3375,2 Ave & E 99 St,3 Ave & E 72 St,40.786259,40.769943,-73.945526,-73.960607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736699,49932,Male,1992,27,2020-11-30 23:58:44.6840,2020-12-01 00:03:01.9470,257,324,421,DeKalb Ave & Hudson Ave,Clermont Ave & Park Ave,40.689888,40.695734,-73.981013,-73.971297
736700,38817,Unknown,1969,50,2020-11-30 23:58:45.6210,2020-12-01 00:09:02.8300,617,439,3709,E 4 St & 2 Ave,W 15 St & 6 Ave,40.726281,40.738046,-73.989780,-73.996430
736701,32874,Male,1980,39,2020-11-30 23:58:45.7200,2020-12-01 00:00:41.9570,116,3616,3600,Steinway St & 28 Ave,31 Ave & Steinway St,40.765625,40.761149,-73.913669,-73.917007
736702,36675,Male,2001,18,2020-11-30 23:59:20.1480,2020-12-01 00:06:09.7540,409,3521,3325,Lenox Ave & W 111 St,E 95 St & 3 Ave,40.798786,40.784903,-73.952300,-73.950503
736703,27784,Male,1948,71,2020-11-30 23:59:47.9750,2020-12-01 00:04:49.2260,301,241,274,DeKalb Ave & S Portland Ave,Lafayette Ave & Fort Greene Pl,40.689810,40.686919,-73.974931,-73.976682

In [14]:
citi_2019_renamed_df.to_csv('citibike_19.csv')
citi_2020_renamed_df.to_csv('citibike_20.csv')